body {background-color: #919194;
}
h3 {color: white;
    float: left;
font-size: 300%;
margin-top: 0%;}

.intro {font-size: 200%;}
#let {font-size: 200%;
background-color: yellow;
margin-left: 10%;
border-radius: 10%;
}

#let1 {font-size: 200%;
background-color: blue;
margin-left: 30%;
border-radius: 10%;
}




h1, h2 {font-size: 500%;}

button {font-size: 100%;}
img {float: left;}

#Get {font-size: 250%;
display: flexbox;}


a { font-size: 200%;
padding: 1%;
color: white;}

.v1 {
    width: 40%;
    height: 60%;
    float: left;
    border-radius: 10%;
}

.v2 {
     width: 26%;
    height: 60%;
    float: right;
    border-radius: 30%;
}

nav { background-color: rgb(77, 77, 172);}

.c1 { font-size: 450%;}
.table {border: 10%;}

.td1 {font-size: 550%;

}
